* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin-top: 100px;
    background-color: #EDF2F6;

    overflow-x: hidden; 
    transition: margin-left 0.3s ease; 
    margin-left: 250px; 
}

/* CSS CAMPO OBRIGATORIO */

.erro {
    border: 2px solid red;
    /* Define uma borda vermelha para os campos com erro */
}

.erro::after {
    content: 'Este campo é obrigatório';
    /* Mensagem de erro */
    color: red;
    font-size: 12px;
    display: block;
    margin-top: 5px;
} 