* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    margin-top: 100px;
    background-color: #ecf0f1;

    overflow-x: hidden; 
    transition: margin-left 0.3s ease; 
    margin-left: 250px; 
}

.header {  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transition: margin-left 0.3s ease; 
    margin-left: 250px;
}

.header i {
    font-size: 18px;
}
.hamburger {
    font-size: 24px;
    cursor: pointer;
}
 .sidebar {
    width: 250px;
    background-color: #f8f9fa;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    border-right: 2px solid #dbe1e8;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease;
    z-index: 2;
} 
.sidebar.open {
    left: 0;
}

.sidebar img {
    width: 100%;
    margin-bottom: 20px;
    padding: 15px
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.sidebar ul li a {
    padding: 15px;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    color: #000;
    text-decoration: none;
}
.sidebar ul li a i {
    margin-right: 10px;
    font-size: 22px;
}
.sidebar ul li:hover {
    background-image: linear-gradient(to right, #211b72, #146dcc);
    /* Gradiente azul */
}
.sidebar ul li a:hover {
    color: rgb(255, 255, 255);
    /* Texto branco ao passar o mouse */
}
.content {
    margin-top: 50px;
    margin-left: 250px;
    padding: 20px;
    flex-grow: 1;
    overflow-y: auto;
    height: calc(100vh - 70px);
    transition: margin-left 0.3s ease; 
}
.content.sidebar-open {
    margin-left: 250px; 
}
body.sidebar-open {
    margin-left: 250px; 
}

.header.sidebar-open {
    margin-left: 250px; 
}
hr{
    margin: 0;
}
/* Media query para telas menores */
@media screen and (max-width: 1425px) {
    .header {
        left: 0;
        width: 100%;
    }

    /* .content {
        margin-top: 60px;
        margin-left: 0;
    } */
    .content {
        margin-left: 0;
        padding: 20px;
    }
    .main-div {
        margin: 20px auto !important;
    }

}

/* CSS CAMPO OBRIGATORIO */

.erro {
    border: 2px solid red;
    /* Define uma borda vermelha para os campos com erro */
}

.erro::after {
    content: 'Este campo é obrigatório';
    /* Mensagem de erro */
    color: red;
    font-size: 12px;
    display: block;
    margin-top: 5px;
}       

.sair-icon{
    position: absolute; 
    top: 8px; 
    right: 20px; 
    z-index: 3;
}