
 /* tables responsive */
 .container {
    max-width: 1000px !important;
    margin: auto !important;
}
.dataTables_wrapper .dt-buttons {
    float: left !important;
}
.dataTables_length {
    float: right !important;
    margin-right: 20px !important;
}
.dataTables_filter {
    float: right !important;
}

.dataTables_wrapper {
    width: 100% !important; 
    overflow-x: auto !important;
}
.table-responsive {
    width: 100% !important;
    overflow-x: auto !important;
}
.table > thead > tr > th {
    background-image: linear-gradient(to right, #090a4b, #146dcc); /* Gradiente azul */
    color: white !important;
    border-radius: 5px !important;
    border: none !important;
    margin-left: 55px !important;
}


/* buttons datables */

/* .dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 05px !important;
} */

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 01px !important;
    
}

/* pesquisar datables */
#mytable_filter label{
margin-bottom:  20px !important;
float: left !important;

margin-right: 20px !important;
}
#mytable_filter label input{
    float: left !important;
    text-align: left !important;
    margin-right: 20px !important;
/* margin-right: 290px !important; */
        
}